<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="ai.polypay.checkout.ui.PolyPayCheckoutActivity"
            android:exported="false"
            android:theme="@style/PolyPayCheckoutTheme" />
    </application>
</manifest>
